
.main-page{
    color:white;
    display: grid;
    height: 10fr;
    border-color: white;
    grid-template-columns: 80px 270px 1fr 220px;

}
.column2 {
  grid-column: 2;
  /* border: 2px red solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.column3 {
  grid-column: 3;
  border: 2px solid green;
}
.column4 {
  grid-column: 4;
  padding-left: 10px;
}
.serverPreviewContainer {
    border: 2px rgb(0, 0, 0) solid;
    background-color: rgb(14, 17, 62);
    display: flex;
    width: 80px;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x:hidden;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
.serverPreview {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.serverPreview:hover {
    animation: bounce 0.5s;
  }

.AllServersPreview {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.AllServersPreview:hover {
    animation: bounce 0.5s;
  }

.ServerLinkHolder {
    /* border: green 1px solid; */
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ServerLink {
    position: relative;
}

#tooltip {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    font-size: 14px;
    z-index: 1;
    margin-left: 40px;
    margin-bottom: 50px;
    top: 20px;
    left: 18px;
    justify-self: flex-start;
}

.ServerLink:hover #tooltip {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.profile-area{
  justify-self: flex-end;

  border: 2px rgb(0, 0, 0) solid;

}
.all-server-item{

    width: 60px;
}
.servers-list{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr ;
    gap: 10px;
    height: 280px;
    overflow-y:scroll;
}
.server-img {
    width: 70px;
    height: 70px; /* Ensure the height matches the width for a perfect circle */
    border-radius: 50%; /* Make the image circular */

    object-fit: cover;
    margin-bottom: 5px;
}
.tooltip
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;

  }

  .servers:hover .tooltiptext {
    visibility: visible;
    opacity: 1;

  }

.channel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.channel-buttons {
    display: none;
}

.channel-container:hover {
  border: 1px white solid;
  cursor: pointer;
}

.channel-container:hover .channel-buttons {
    display: inline-block;
    /* cursor: pointer; */
}

.create-channel-button:hover {
  cursor: pointer;
}

.channels-container {
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 100px 1fr 100px; */
  justify-content: space-between;
}

.messages-row1 {
  /* grid-row: 1; */
  border: 1px rebeccapurple solid;
}

.messages-row2 {
  /* grid-row: 2; */
  border: 1px red solid;

}

.messages-row3 {
  /* grid-row: 3; */
  border: 1px yellow solid;
}

#members-list {
  margin-left: 10px;
  margin-bottom: 10px;

  }

  .online-status {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-left: 8px;
}
